<%- include('./header.ejs') %>

    </head>
    <title>
        <%= pageTitle %>
    </title>

    <body>
        <%- include('./navbar.ejs') %>
            <h1>Reset Password</h1>
            <form action="/reset-password" method="POST">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <label for="cpass">Confirm Password</label>
                <input type="password" id="cpass" name="cpass">
                <input type="hidden" id="cpass" value="<%= token %>" name="token">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <button type="submit">Reset</button>
                <p>
                    <%= errorMessage? errorMessage : '' %>
                </p>
            </form>
    </body>