<%- include('./header.ejs') %>

    </head>
    <title>
        <%= pageTitle %>
    </title>

    <body>
        <%- include('./navbar.ejs') %>
            <h1>Sign up</h1>
            <form action="/signup" method="POST" novalidate>

                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= oldData.name %>">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= oldData.email %>">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= oldData.password %>">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password"
                    value="<%= oldData.confirm_password %>">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <button type="submit">Sign up</button>
                <p>
                    <%= errormsg? errormsg:'' %>
                </p>
            </form>
    </body>