<%- include('./header.ejs') %>

    </head>
    <title>
        <%= pageTitle %>
    </title>

    <body>
        <%- include('./navbar.ejs') %>

            <% if (products.length> 0) { %>
                <% for (let every of products) { %>
                    <form action="/add-cart" method="POST">
                        <div>
                            <p>Product Name: <%= every.title %>
                            </p>
                            <p>Price: <%= every.price %>
                            </p>
                            <p>Category: <%= every.category %>
                            </p>
                            <p>Description: <%= every.description %>
                            </p>
                            <p>Company: <%= every.company %>
                            </p>
                            <p>Qunatity</p>
                            <input type="number" name="qty">
                            <input type="hidden" value="<%= every._id %>" name="prodId">
                            <input type="hidden" value="<%= every.price %>" name="price">
                            <button type="submit">Add</button>
                        </div>
                    </form>
                    <% } %>
                        <% } else {%>
                            <p>No Products Available</p>
                            <% } %>

    </body>