<%- include('./header.ejs') %>

    </head>
    <title>
        <%= pageTitle %>
    </title>

    <body>
        <%- include('./navbar.ejs') %>
            <% if (users.length> 0) { %>
                <div>
                    <% for (let every of users) { %>

                        <p>Name: <%= every.name %>
                        </p>
                        <p>Email: <%= every.email %>
                        </p>
                        <p>Phone: <%= every.phone %>
                        </p>

                        <% } %>
                </div>
                <% } else {%>
                    <p>No Users Available</p>
                    <% } %>
    </body>