<%- include('./header.ejs') %>

    </head>
    <title>
        <%= pageTitle %>
    </title>

    <body>
        <%- include('./navbar.ejs') %>

            <% for (let cartDetail of cartDetails){ %>
                <h1>User First Name: <%= cartDetail.user.fname %>
                </h1>
                <h1>User Last Name: <%= cartDetail.user.lname %>
                </h1>

                <% for (var i=0;i<cartDetail.cartDetails.length;i++) { %>
                    <% for (var j=0;j<cartDetail.products.length;j++) { %>
                        <% if (cartDetail.cartDetails[i].productProductId===cartDetail.products[j].productId) {%>
                            <div>
                                <p>Product Name: <%= cartDetail.products[j].title %>
                                </p>
                                <p>Price: <%= cartDetail.products[j].price %>
                                </p>
                                <p>Quantity: <%= cartDetail.cartDetails[i].quantity %>
                                </p>
                                <p>Total: <%= cartDetail.cartDetails[i].total %>

                            </div>

                            <% } %>
                                <% } %>
                                    <% } %>

                                        <h2>To Pay: <%= subTotal %>
                                        </h2>
                                        <form action="/order" method="POST">
                                            <button type="submit">Order</button>
                                        </form>
                                        <% }%>


    </body>